extends template.pug
block content
    h1 #{title}
    ul
        li
            a(href="/") Home  
        li
            a(href="/login") Login  
        li
            a(href="/register") Regisgter  