extends template.pug
block content
    h1 #{title}
    ul
        li
            a(href="/") Home  
    if error
        h2 #{ error }
    form(action="#" method="post") 
        div(class="mb-3")
            label(for="email" class="form-label") eMail
            input(type="email" name="email" class="form-control" id="email")
        div(class="mb-3")
            label(for="password" class="form-label") Password
            input(type="password" name="password" class="form-control" id="password")
        div(class="mb-3")
            input(type="submit" class="btn btn-primary" value="Login") 
